* {
    box-sizing: border-box;
}
body{
    padding: 0;
    margin: 0;
    width: 100vw;
    height: 100vh;
    padding: 0 3em;
}

main {
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background-color: #E6BA95;

}
article {
    background-color: #CC704B;
    color: white;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.5);
    text-align: center;
    letter-spacing: 2px;
}
section {
    height: 300px;
    background-color: gray;
    color: white;
    display: flex;
    align-items: center;
}
.list {
    width: 100%;
    letter-spacing: 2px;
}
.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    align-items: baseline;
}
.item .itemAmount {
    background-color: tomato;
    margin-right: 1em;
    padding: .8em;
    border-radius: 10px;
}